@tailwind base;
@tailwind components;
@tailwind utilities;

/* Layout */

body {
  @apply font-poppins;
  /*overflow-y: auto; !* Ensure scrollbar is visible *!*/
  /*scrollbar-width: thin; !* Might work in some browsers *!*/
  /*scrollbar-color: blue gray-400; !* Might work in some browsers *!*/
}

.view {
  @apply min-h-screen w-screen;
}

.tab {
  @apply h-full w-full;
}

.content-padding {
  @apply px-6 md:px-10 xl:px-32
}

/* Theme styles */

.theme-gradient-bg {
  @apply bg-gradient-to-br from-30% from-secondaryColor to-primaryColor;
}

.absolute-y-center {
  @apply top-1/2 -translate-y-1/2;
}

.absolute-x-center {
  @apply left-1/2 -translate-x-1/2;
}

@layer utilities {

  /* Hide scrollbar for Chrome, Safari, and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge, and Firefox */
  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}